package {{ package_name }};

{% for import in imports %}
import {{ import }};
{% endfor %}

/**
 * Entity klasa {{ class_name }}
 * Generisano automatski od BESSER B-UML modela
 * 
 * BESSER dokumentacija:
 * https://besser.readthedocs.io/en/latest/api/BUML/metamodel/api_structural.html
 * 
 * Baeldung JPA/Hibernate asocijacije:
 * https://www.baeldung.com/jpa-hibernate-associations
 * 
{% if description %}
 * Opis: {{ description }}
{% endif %}
 * @author Spring Entity Generator
 * @version 1.0
 */
{% if is_abstract %}
@Entity
@Inheritance(strategy = InheritanceType.JOINED)
{% else %}
@Entity
{% endif %}
@Table(name = "{{ table_name }}"{% if unique_constraints %}, uniqueConstraints = {
{% for constraint in unique_constraints %}
    @UniqueConstraint(name = "{{ constraint.name }}", columnNames = {{{ constraint.columns }}}){% if not loop.last %},{% endif %}
{% endfor %}
}{% endif %})
public {% if is_abstract %}abstract {% endif %}class {{ class_name }}{% if parent %} extends {{ parent }}{% endif %} {

{% for attribute in attributes %}
{% if attribute.is_id %}
    /**
     * Primarna ključna vrednost - jedinstveni identifikator entiteta
     * Automatski se generiše pri kreiranju novog entiteta
     */
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    @Column(name = "{{ attribute.column_name }}")
    {{ attribute.visibility }} {{ attribute.java_type }} {{ attribute.name }};

{% elif attribute.is_enum %}
    /**
     * Enumeracija - ograničeni skup mogućih vrednosti
     * Mogućih vrednosti: {{ attribute.enum_values }}
{% if attribute.description %}     * Opis: {{ attribute.description }}
{% endif %}
{% if attribute.is_readonly %}     * Readonly: Da
{% endif %}
{% if attribute.is_derived %}     * Izvedena vrednost: Da
{% endif %}
     */
    @Column(name = "{{ attribute.column_name }}"{% if not attribute.nullable %}, nullable = false{% endif %}{% if attribute.length %}, length = {{ attribute.length }}{% endif %})
    @Enumerated(EnumType.STRING)
    {{ attribute.visibility }} {{ attribute.java_type }} {{ attribute.name }}{% if attribute.default_value %} = {{ attribute.default_value }}{% endif %};

{% else %}
    /**
     * Атрибут: {{ attribute.name }}
     * Tip: {{ attribute.java_type }}
     * Obavezno: {% if attribute.nullable %}Ne{% else %}Da{% endif %}
{% if attribute.unique %}     * Jedinstveno: Da
{% endif %}
{% if attribute.is_readonly %}     * Readonly: Da
{% endif %}
{% if attribute.is_derived %}     * Izvedena vrednost: Da
{% endif %}
{% if attribute.description %}     * Opis: {{ attribute.description }}
{% endif %}
     */
    @Column(
        name = "{{ attribute.column_name }}"
        {%- if not attribute.nullable %},
        nullable = false
        {%- endif %}
        {%- if attribute.unique %},
        unique = true
        {%- endif %}
        {%- if attribute.length %},
        length = {{ attribute.length }}
        {%- endif %}
        {%- if attribute.updatable != None %},
        updatable = {{ attribute.updatable|lower }}
        {%- endif %}
        {%- if attribute.insertable != None %},
        insertable = {{ attribute.insertable|lower }}
        {%- endif %}
    )
{% if attribute.is_readonly %}
    @org.hibernate.annotations.Immutable
{% endif %}
    {{ attribute.visibility }} {{ attribute.java_type }} {{ attribute.name }};

{% endif %}
{% endfor %}

{% for relation in relations %}
{% if relation.type == 'OneToOne' %}
    /**
     * OneToOne relacija - {{ relation.side_description }}
     * Povezuje sa: {{ relation.target_class }}
     * Fetch strategija: {{ relation.fetch_type }}
     * Cascade akcije: {{ relation.cascade_types_str }}
     * Navigable: {{ relation.is_navigable }}
{% if relation.description %}     * Opis: {{ relation.description }}
{% endif %}
     */
    @OneToOne(
        fetch = FetchType.{{ relation.fetch_type }},
        cascade = {{% for cascade in relation.cascade_types %}CascadeType.{{ cascade }}{% if not loop.last %}, {% endif %}{% endfor %}}
        {%- if relation.is_optional %},
        optional = true
        {%- else %},
        optional = false
        {%- endif %}
    )
{% if relation.is_owning_side %}
    @JoinColumn(
        name = "{{ relation.join_column_name }}", 
        referencedColumnName = "id",
        nullable = {{ relation.is_optional|lower }},
        unique = true
    )
{% endif %}
    {{ relation.visibility }} {{ relation.target_class }} {{ relation.field_name }};

{% elif relation.type == 'OneToMany' %}
    /**
     * OneToMany relacija - INVERSE SIDE
     * Povezuje sa: {{ relation.target_class }}
     * Broj stavki: Više (0..*)
     * Fetch strategija: {{ relation.fetch_type }}
     * Cascade akcije: {{ relation.cascade_types_str }}
     * Navigable: {{ relation.is_navigable }}
     * Mapped by: {{ relation.mapped_by }}
{% if relation.description %}     * Opis: {{ relation.description }}
{% endif %}
     */
    @OneToMany(
        fetch = FetchType.{{ relation.fetch_type }},
        mappedBy = "{{ relation.mapped_by }}",
        cascade = {{% for cascade in relation.cascade_types %}CascadeType.{{ cascade }}{% if not loop.last %}, {% endif %}{% endfor %}}
    )
    {{ relation.visibility }} Set<{{ relation.target_class }}> {{ relation.plural_name }};

{% elif relation.type == 'ManyToOne' %}
    /**
     * ManyToOne relacija - OWNING SIDE
     * Povezuje sa: {{ relation.target_class }}
     * Fetch strategija: {{ relation.fetch_type }}
     * Cascade akcije: {{ relation.cascade_types_str }}
     * Navigable: {{ relation.is_navigable }}
{% if relation.description %}     * Opis: {{ relation.description }}
{% endif %}
     */
    @ManyToOne(
        fetch = FetchType.{{ relation.fetch_type }},
        cascade = {{% for cascade in relation.cascade_types %}CascadeType.{{ cascade }}{% if not loop.last %}, {% endif %}{% endfor %}}
    )
    @JoinColumn(
        name = "{{ relation.join_column_name }}", 
        referencedColumnName = "id",
        nullable = {{ relation.is_optional|lower }}
    )
    {{ relation.visibility }} {{ relation.target_class }} {{ relation.field_name }};

{% elif relation.type == 'ManyToMany' %}
    /**
     * ManyToMany relacija - {% if relation.is_owning_side %}OWNING SIDE{% else %}INVERSE SIDE{% endif %}
     * Povezuje sa: {{ relation.target_class }}
     * Fetch strategija: {{ relation.fetch_type }}
     * Cascade akcije: {{ relation.cascade_types_str }}
     * Navigable: {{ relation.is_navigable }}
{% if not relation.is_owning_side %}     * Mapped by: {{ relation.mapped_by }}
{% endif %}
{% if relation.description %}     * Opis: {{ relation.description }}
{% endif %}
     */
    @ManyToMany(
        fetch = FetchType.{{ relation.fetch_type }},
        cascade = {{% for cascade in relation.cascade_types %}CascadeType.{{ cascade }}{% if not loop.last %}, {% endif %}{% endfor %}}
    )
{% if relation.is_owning_side %}
    @JoinTable(
        name = "{{ relation.join_table_name }}",
        joinColumns = {
            @JoinColumn(name = "{{ relation.source_join_column }}", referencedColumnName = "id")
        },
        inverseJoinColumns = {
            @JoinColumn(name = "{{ relation.target_join_column }}", referencedColumnName = "id")
        }
    )
{% endif %}
    {{ relation.visibility }} Set<{{ relation.target_class }}> {{ relation.plural_name }};

{% endif %}
{% endfor %}

    // ===================== KONSTRUKTORI =====================

    /**
     * Prazan konstruktor - obavezan za JPA/Hibernate
     */
    public {{ class_name }}() {
{% for relation in relations %}
{% if relation.type in ['OneToMany', 'ManyToMany'] %}
        this.{{ relation.plural_name }} = new HashSet<>();
{% endif %}
{% endfor %}
    }

{% if constructor_params %}
    /**
     * Konstruktor sa svim atributima
     * 
{% for param in constructor_params_list %}
     * @param {{ param.name }} {{ param.type }}
{% endfor %}
     */
    public {{ class_name }}({{ constructor_params }}) {
{% for assignment in constructor_assignments %}
        {{ assignment }}
{% endfor %}
{% for relation in relations %}
{% if relation.type in ['OneToMany', 'ManyToMany'] %}
        this.{{ relation.plural_name }} = new HashSet<>();
{% endif %}
{% endfor %}
    }

{% endif %}

    // ===================== GETTERI I SETTERI =====================

{% for getter_setter in getters_setters %}
    /**
     * Preuzmi vrednost {{ getter_setter.attribute_name }}
     * 
     * @return {{ getter_setter.java_type }}
     */
    {{ getter_setter.visibility }} {{ getter_setter.java_type }} get{{ getter_setter.method_name }}() {
        return {{ getter_setter.attribute_name }};
    }

    /**
     * Postavi vrednost {{ getter_setter.attribute_name }}
     * 
     * @param {{ getter_setter.attribute_name }} {{ getter_setter.java_type }}
     */
    {{ getter_setter.visibility }} void set{{ getter_setter.method_name }}({{ getter_setter.java_type }} {{ getter_setter.attribute_name }}) {
        this.{{ getter_setter.attribute_name }} = {{ getter_setter.attribute_name }};
    }

{% endfor %}

    // ===================== UTILITY METODE =====================

    /**
     * Vraća string reprezentaciju entiteta
     * 
     * @return String reprezentacija
     */
    @Override
    public String toString() {
        return "{{ class_name }}{" +
                "id=" + id +
{% for attribute in attributes %}
{% if not attribute.is_id %}
                ", {{ attribute.name }}='" + {{ attribute.name }} + '\'' +
{% endif %}
{% endfor %}
                '}';
    }

    /**
     * Poredi dva entiteta po ID-u
     * Koristi ID jer je to jedinstven identifikator
     * 
     * @param o Object za poređenje
     * @return true ako su entiteti jednaki
     */
    @Override
    public boolean equals(Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }
        {{ class_name }} that = ({{ class_name }}) o;
        
        // Koristi ID za poređenje jer je to jedinstven identifikator
        if (id == null || that.id == null) {
            return false;
        }
        return id.equals(that.id);
    }

    /**
     * Generiše hash kod entiteta
     * Koristi ID jer je to jedinstven identifikator
     * 
     * @return hash kod
     */
    @Override
    public int hashCode() {
        return id == null ? 0 : id.hashCode();
    }
}