package {{ package }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class {{ name[0] | upper + name[1:] }}Tests {

  @Test
  void contextLoads() {
  }

}